.DS_Store
.build/
.swiftpm/
DerivedData/
build/
dist/
artifacts/
Assets/examples/source/
Assets/examples/metadata/

*.pkg
*.dSYM/
*.xcarchive/

*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.moved-aside

Package.resolved
